<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../partials/navbar') %>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <%- include('../partials/flash') %>
          <section class="card">
            <h1 class="card-header">SIGN UP!</h1>
            <div class="card-body">
              <form action="/register" method="POST">
                <div>
                  <label class="form-label" for="name">First name</label>
                  <input
                    type="text"
                    name="firstName"
                    id="name"
                    placeholder="enter first name"
                    class="form-control mb-3"
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for="city">Last name</label>
                  <input
                    class="form-control mb-3"
                    type="text"
                    name="lastName"
                    id="city"
                    placeholder="enter last name"
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for="email">Email</label>
                  <input
                    class="form-control mb-3"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="enter your email"
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for="phone">Phone</label>
                  <input
                    class="form-control mb-3"
                    type="number"
                    name="phone"
                    id="phone"
                    placeholder="enter phone"
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for="username">Username</label>
                  <input
                    class="form-control mb-3"
                    type="text"
                    name="username"
                    id="username"
                    placeholder="enter username"
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for="password">Password</label>
                  <input
                    class="form-control mb-3"
                    type="password"
                    name="password"
                    id="password"
                    placeholder="enter password"
                    required
                  />
                </div>
                <button class="btn btn-success">Submit</button>
              </form>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!--scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
