<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reviews</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <%- include('../partials/navbar') %>

    <div class="container">
      <h1 class="display-1 text-center mb-3">Reviews</h1>
      <div class="row justify-content-center">
        <% for(let review of reviews) {%>
        <div class="col-3 text-center">
          <%- include('../partials/flash') %>
          <section class="card rounded shadow">
            <h1 class="bg-light"><%=review.cname %></h1>
            <div class="card-body"><%= review.content %></div>
          </section>
        </div>
        <% } %>
      </div>
    </div>
    <!--scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
