<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About FarmCare</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com/" />
    <link href="./About Farmery_files/css2" rel="stylesheet" />
    <link rel="stylesheet" href="./stylesheet/about.css" />
    <link rel="stylesheet" href="./stylesheet/navbar.css" />
    <style>
      html,
      body {
        height: 100%;
      }

      .wrapper {
        height: 100%;
        font-family: Helvetica, sans-serif;
        line-height: 1.5;
        word-spacing: 2px;
        letter-spacing: 0.5px;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>

  <body>
    <div class="wrapper">
      <%- include('../partials/customerNavbar') %>
      <div class="fixed one">
        <br /><br /><br />
        <section class="section-1">
          <h1 class="font">FarmCare - Organic and Healthy</h1>
          <p class="w3-large font1">
            When farmers have the tools they need to connect with one another,
            they’re far more likely to apply what they’ve learned on their farms
            and in their households – improving their own livelihoods and those
            of others in their community, in a manner that’s
            nutrition-sensitive, climate-resilient, and inclusive seasonal
            ingredients.
          </p>
          <img
            src="./media/pexels-markus-spiske-1268101.jpg"
            width="900"
            height="500"
          />
        </section>
        <section class="section-2">
          <p class="font1">
            Food is not grown the way it used to be. Vegetables, grains, and
            fruits are liberally doused with chemicals and fertilizers, and
            consuming them has only led to an increased rate of cancer, and
            other deadly diseases across the world.
          </p>
          <video width="900" height="500" controls="">
            <source src="./media/production ID_4524593.mp4" type="video/mp4" />
          </video>
          <p class="font1">
            We grow organic vegetables, fruits, grains and provide various fresh
            organic products in Uttar Pradesh as well as collaborate with
            farmers from all over India to offer you 300+ authentic products. We
            provide free home delivery in Delhi NCR.
          </p>
        </section>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
