<!DOCTYPE html>
<html>
  <head>
    <title>FARMERY</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mate+SC&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Limelight&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        height: 100%;
      }

      .wrapper {
        height: 100%;
        font-family: Helvetica, sans-serif;
        line-height: 1.5;
        word-spacing: 2px;
        letter-spacing: 0.5px;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./stylesheet/style.css" />
    <link rel="stylesheet" href="./stylesheet/navbar.css" />
  </head>
  <body>
    <div class="wrapper">
      <%- include('../partials/customerNavbar') %> <%-
      include('../partials/flash') %>

      <div class="fixed one">
        <br />
        <br />
        <p
          style="
            font-size: 2em;
            color: black;
            margin-top: 10%;
            font-family: 'Mate SC', serif;
          "
        >
          <b
            ><i
              >WELCOME TO FARMCARE!<br />
              WE BRING YOU THE MOST ORGANIC FARM FRESH PRODUCTS.<br />
              DO TRY OUR MORINGA AND CAPERS, THEY ARE A BEAUTY!<br />WE ARE
              DELIGHTED TO HAVE YOU HERE!</i
            ></b
          >
        </p>
        <div class="button-on-home">
          <button href="About Farmery.html">Know More!</button>
          <button>Buy Our Products</button>
        </div>
      </div>
      <div class="scroll">
        <h3>
          "Broccoli contains twice the amount of Vitamin C than and orange. It
          contains as much calcium as whole milk, and is more readily absorbed
          by our bodies."
        </h3>
      </div>
      <div class="fixed two">
        <br />
        <h1><i>How It All Started</i></h1>
        <br />
        <p style="font-size: 30px; color: white">
          <b
            ><i
              >Our quest to provide organic farm fresh products began with our
              search for sustainable farming practices and is backed by an
              unflinching focus on quality. Quality benchmarks for all process
              and practices on the farm and in the post-harvest facilities have
              been laid down and systems are in place to monitor the efficacy of
              the same. While all final organic farm fresh products are tested
              at International certified laboratories, our internal set up
              ensures continuous testing and evaluation. The journey commenced
              with grassroots level farming operations in inhospitable terrain,
              but the long-term vision encompasses farm to food or farm to table
              products being developed in-house for direct delivery to the
              consumer. With this in mind, we have now embarked on in-house
              product innovation and development too.</i
            ></b
          >
        </p>
      </div>
      <div class="scroll">
        <h3>
          "Parsley is also great for use as a digestive aid. It is a natural
          breath freshener, anti-carcinogen, contains three times the amount of
          vitamin C as oranges, and twice the amount of iron as in spinach."
        </h3>
      </div>
      <div class="fixed three"></div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
